*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: darkslateblue;
  height: 100vh;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  gap: 20px;
  justify-content: center;
}

.title{
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.box{
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: #9983AB;
}

.fizz{
  background-color: #88B7C2;
}

.buzz{
  background-color: #9EC48D;
}

.fizzbuzz{
  background-color:#F2DCAC;
}